/*
 *= require_tree .
 *= require font-awesome
 *= require jquery-ui
 *= require bootstrap
 *= require_self
 */

 #layout-content {
  padding-top: 3rem;
}

#flashes { background: #E4DDCB; }
#flash-errors, #flash-notice, #error_explanation, #system-notice {
  color: #cc0000;
  background: #ffdddd;
  border: 1px solid #ff9999;
  padding: 10px;
}
